*.pdf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Adafruit-AHT20_TempHumiditySensor.pdf filter=lfs diff=lfs merge=lfs -text
instructions/Basic[[:space:]]AGC[[:space:]]for[[:space:]]radiometric[[:space:]]Lepton[[:space:]]images[[:space:]]_[[:space:]]Teledyne[[:space:]]FLIR.pdf filter=lfs diff=lfs merge=lfs -text
instructions/BNO080_085-Datasheet.pdf filter=lfs diff=lfs merge=lfs -text
instructions/Lepton_Engineering_Datasheet_Rev200.pdf filter=lfs diff=lfs merge=lfs -text
instructions/Lepton_Engineering_Datasheet_with_radiometry.pdf filter=lfs diff=lfs merge=lfs -text
instructions/LeptonRadiometry-QSG-US.pdf filter=lfs diff=lfs merge=lfs -text
instructions/mDot-AT-Command-Guide.pdf filter=lfs diff=lfs merge=lfs -text
instructions/AHT20_Data_Sheet.pdf filter=lfs diff=lfs merge=lfs -text
instructions/FLIR_Lepton_Breakoutboard2.0.pdf filter=lfs diff=lfs merge=lfs -text
instructions/FLIR_Lepton_Breakout_Board_V2_Schematic-16912.pdf filter=lfs diff=lfs merge=lfs -text
instructions/FLIR_Lepton_Data_Brief.pdf filter=lfs diff=lfs merge=lfs -text
instructions/mDot_Developer_Guide_s000612_DB9.pdf filter=lfs diff=lfs merge=lfs -text
instructions/Quectel_EC25EC21_GNSS_AT_Commands_Manual_V1.1.pdf filter=lfs diff=lfs merge=lfs -text
instructions/WittyPi4_UserManual.pdf filter=lfs diff=lfs merge=lfs -text
instructions/WittyPi4-RPi4-0.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Camera_Before_Modification.jpg filter=lfs diff=lfs merge=lfs -text
instructions/img_20250124_183352.jpg filter=lfs diff=lfs merge=lfs -text
instructions/IR_CUT_Camera-Wiring.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Pi_Camera_Cable.jpg filter=lfs diff=lfs merge=lfs -text
instructions/img_20250124_183329.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Camera_Ribbon_cable.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Camera_Ribbon.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Flir-Lepton-Breakout2.0.jpg filter=lfs diff=lfs merge=lfs -text
instructions/img_20240816_153744_dro.jpg filter=lfs diff=lfs merge=lfs -text
instructions/IMG_20250124_155626.jpg filter=lfs diff=lfs merge=lfs -text
instructions/IMG_20250203_062519.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Camera_Wire_2.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Camera_Wire_Back.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Cell_Modem_USB_Right_Angle.jpg filter=lfs diff=lfs merge=lfs -text
instructions/img_20240816_153750_dro.jpg filter=lfs diff=lfs merge=lfs -text
instructions/IMG_20250203_062445.jpg filter=lfs diff=lfs merge=lfs -text
instructions/IMG_20250203_062449.jpg filter=lfs diff=lfs merge=lfs -text
instructions/IMG_20250203_062514.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Pi_Pinout.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Flir-Lepton-WIRING.jpg filter=lfs diff=lfs merge=lfs -text
instructions/img_20240816_153725_dro.jpg filter=lfs diff=lfs merge=lfs -text
instructions/img_20240816_153737_dro.jpg filter=lfs diff=lfs merge=lfs -text
instructions/img_20240816_153757_dro.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Split_Cable_3.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Split_Cable_I2C_2.jpg filter=lfs diff=lfs merge=lfs -text
instructions/IR_CUT_Camera.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Camera-Desolder-2.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Camera_Wire.jpg filter=lfs diff=lfs merge=lfs -text
instructions/CellularAntennaConnector.jpg filter=lfs diff=lfs merge=lfs -text
instructions/IMG_20250203_062512.jpg filter=lfs diff=lfs merge=lfs -text
instructions/img_20250124_182621.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Pi_Camera_Cable_3.jpg filter=lfs diff=lfs merge=lfs -text
instructions/WittyPi4-RPi4-2.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Cell_Modem_Adapter.jpg filter=lfs diff=lfs merge=lfs -text
instructions/FLIR_Wiring.jpg filter=lfs diff=lfs merge=lfs -text
instructions/img_20240816_153730_dro.jpg filter=lfs diff=lfs merge=lfs -text
instructions/img_20250124_182615.jpg filter=lfs diff=lfs merge=lfs -text
instructions/img_20250124_182545.jpg filter=lfs diff=lfs merge=lfs -text
instructions/IMG_20250203_062447.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Split_Cable_I2C.jpg filter=lfs diff=lfs merge=lfs -text
instructions/WittyPi4-RPi4-1.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Cell_Modem.jpg filter=lfs diff=lfs merge=lfs -text
instructions/img_20240816_153747_dro.jpg filter=lfs diff=lfs merge=lfs -text
instructions/IMG_20250124_155615.jpg filter=lfs diff=lfs merge=lfs -text
instructions/IMG_20250124_155709.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Camera-Desolder.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Cell_Modem_Installed.jpg filter=lfs diff=lfs merge=lfs -text
instructions/IMG_20250203_062504.jpg filter=lfs diff=lfs merge=lfs -text
instructions/Pi_Camera_Cable_2.jpg filter=lfs diff=lfs merge=lfs -text
instructions/SD_Install_1.png filter=lfs diff=lfs merge=lfs -text
instructions/GPIO-header.png filter=lfs diff=lfs merge=lfs -text
instructions/lepton-wiring-diagram.png filter=lfs diff=lfs merge=lfs -text
instructions/mDot-pinouts.png filter=lfs diff=lfs merge=lfs -text
instructions/Pi_GPIO.png filter=lfs diff=lfs merge=lfs -text
instructions/Flir_Lepton_v1_wiring.png filter=lfs diff=lfs merge=lfs -text
instructions/SD_Install_0.png filter=lfs diff=lfs merge=lfs -text
instructions/SD_Install_2.png filter=lfs diff=lfs merge=lfs -text
instructions/Serial_TTL_Adapter.png filter=lfs diff=lfs merge=lfs -text
