# First make sure you are using system-installed picamera2, wheel, pandas, numpy,
# opencv, etc.,
# The packages below are the minimum needed in the venv as of 20250710
# for both the watercam-specific code and TickTalkPython on Debian 12 Bookworm

Adafruit-Blinka==8.62.0
adafruit-circuitpython-ahtx0==1.0.27
adafruit-circuitpython-bno055==5.4.20
adafruit-circuitpython-busdevice==5.2.13
adafruit-circuitpython-connectionmanager==3.1.5
adafruit-circuitpython-register==1.10.4
adafruit-circuitpython-requests==4.1.13
adafruit-circuitpython-typing==1.12.1
Adafruit-PlatformDetect==3.81.0
Adafruit-PureIO==1.1.11
astor==0.8.1
astunparse==1.6.3
binho-host-adapter==0.1.6
bitarray==3.5.0
bitstring==4.3.1
Brotli==1.1.0
charset-normalizer==3.4.2
dill==0.4.0
idna==3.10
intervaltree==3.1.0
multiprocess==0.70.18
py-gpsd2==0.1.0
pyftdi==0.56.0
pympler==1.1
pyserial==3.5
python-xmp-toolkit==2.0.2
pyusb==1.3.1
requests==2.32.4
setuptools==66.1.1
simpleitk==2.5.2
sortedcontainers==2.4.0
sysv-ipc==1.1.0
timedinput==0.1.1
typing_extensions==4.14.1
urllib3==2.5.0
