[Unit]
Description=Sonar Distance Sensor
After=multi-user.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart=python3 /home/pi/SU-WaterCam/tools/sonar.py
KillMode=process

[Install]
WantedBy=multi-user.target
