[Unit]
Description=Tell Modem Manager to enable the cell modem GPS in unmanaged mode
Requires=network-online.target 
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "mmcli -m 0 --location-enable-gps-unmanaged"

[Install]
WantedBy=multi-user.target
