[Unit]
Description=External Temp and Humidity Tracking Script
After=multi-user.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart=python3 /home/pi/HotWaterCam/tools/temperature.py
KillMode=process

[Install]
WantedBy=multi-user.target
