[Unit]
Description=Run main Watercam Python script (TTPython variant)
After=network-online.target

[Service]
User=pi
Group=pi
Type=simple
WorkingDirectory=/home/pi/SU-WaterCam
ExecStart=/home/pi/SU-WaterCam/venv/bin/python /home/pi/SU-WaterCam/runrtm.py -d 50 -s 0 --timeout=0 /home/pi/SU-WaterCam/output/ticktalk_main.pickle 8080

[Install]
WantedBy=multi-user.target
